<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cognova</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=".././static/images/favicon.png" rel="icon">
  <link href=".././static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=".././static/js/vendor/aos/aos.css" rel="stylesheet">
  <link href=".././static/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href=".././static/js/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href=".././static/js/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href=".././static/js/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href=".././static/js/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href=".././static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Scaffold
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">Cognova</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#testimonials">Data Analytics</a></li>
              <li><a class="nav-link scrollto" href="#team">Data Source</a></li>
              <li><a class="nav-link scrollto" href="#services">Technologies</a></li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#features">Dashboard</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Report</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Story</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Global Economic Data: Comprehensive Analysis and Insights</h1>
            <h2>Exploring Global Economic Data using IBM Cognos</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src=".././static/images/global-economy.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <br><br><br>
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-in">
            <img src=".././static/images/project.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>Learn more about our project</h3>
              <p class="fst-italic">
                Analyzes and derives comprehensive analysis and actionable insights from global economic data which is crucial for businesses, policymakers, and researchers to make informed decisions.
                They can gain a comprehensive understanding of economic trends, identify risks and opportunities, and make data-driven decisions to drive business growth and navigate the global economic landscape successfully.	
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Presented in the form of dashboards, report and story.</li>
                <li><i class="bi bi-check-circle"></i> Various visualisations were explored and the most informative visualisations were handpicked. </li>
                <li><i class="bi bi-check-circle"></i> Considers both financial and non financial factors. </li>
              </ul>
              <p>
                This project has made use of technologies such as IBM Cognos, Python and Flask.
              </p>
            </div>
          </div>
        </div>

      </div>
      <br><br><br>

    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Data Analytics</h2>
          <p>Data analytics is the process of examining raw data to derive meaningful insights and draw conclusions. 
            It involves the use of various techniques, tools, and algorithms to uncover patterns, trends, and correlations within the data.
            By analyzing and interpreting data, organizations can make informed decisions, identify opportunities, and address challenges more effectively.
            Data analytics encompasses a range of activities, spanning from data collection and cleaning to exploratory analysis and predictive modeling.
            It plays a crucial role in various fields, including business, science, healthcare, and finance, helping professionals make evidence-based choices and optimize outcomes.
          </p>
          <br>
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src=".././static/images/hero-img.png" alt="data analytics image" style="width: 400px; height: 400px;">
          </div>
          
         
        </div>
      </div>
    </section><!-- End Testimonials Section -->

     <!-- ======= Team Section ======= -->
     <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Data Source</h2>
          <p> The world economic dataset, taken from Kaggle, consists of files related to corruption, cost of living, wealth distribution, tourism, and unemployment.
            These files provide insights into economic indicators such as GDP, unemployment rate, cost index, corruption index, and purchasing power which help to assess countries' economic health and growth potential.
            The unemployment rate reflects the labor market dynamics, the cost of living index measures affordability, influencing decisions regarding salaries and investments and the tourism data highlights the economic significance of the tourism industry. 
            Corruption has an indirect but crucial impact on economic performance.
            Exploratory data analysis is essential to comprehend and explore the data in order to make visualisations, dashboards, stories and reports that will enable policymakers, businesses, and individuals to make informed choices for sustainable economic development. 
            Data exploration consists of steps such as variable identification, univariate and bivariate analysis, treatment of missing values and outliers, as well as variable transformation and creation.
          </p>
          <br>
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src=".././static/images/pngi.png" alt="exploratory data analysis image" style="width: 500px; height: 500px;">
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

     <!-- ======= Services Section ======= -->
     <section id="services" class="services section-bg">
      <div class="container"> 

        <div class="section-title" data-aos="fade-up">
          <h2>Technologies & Tools</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-search"></i></div>
              <h4 class="title"><a href="">IBM Cognos</a></h4>
              <p class="description">IBM Cognos is a business intelligence and analytics platform that helps organizations gather, analyze, and visualize data in order to respond to market demands and trends. It can be used to make visualisations, dashboards, reports and stories.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxl-python"></i></div>
              <h4 class="title"><a href="">Python</a></h4>
              <p class="description">Python is a high-level, general-purpose programming language. It can be used for exploratory data analysis. In this project, it was used to combine more than two csv files in the dataset for the purpose of making more informative visualisations.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bxl-flask"></i></div>
              <h4 class="title"><a href="">Flask</a></h4>
              <p class="description">Flask is a micro web framework written in Python. It provides essential tools to make web development efficient and flexible.
                It is a popular choice for web integration due to its lightweight design.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Dashboard</h2>
          <p> An interactive visual interface that presents real-time data in a concise manner, offering a holistic view of key performance indicators for quick insights. </p>
        </div>
          <p align="center"><iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FOverview%2Bof%2BData&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018a1e973c11_00000000" width="790" height="550" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></p>
      </div>
    </section><!-- End Features Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Report</h2>
          <p>A report is a structured presentation of data, often static, offering in-depth analysis and insights to support decision-making.</p>
        </div>
          <p align="center"><iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FReport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="850" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></p>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Story</h2>
          <p> A story is a sequential presentation of visualizations and explanations focused on data-driven storytelling. It guides users through outcomes and insights.</p>
        </div>
       <p align ="center"><iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FWED%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-1&amp;sceneTime=0" width="790" height="550" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></p> 
      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Cognova</h3>
              <p>
                <strong>Email:</strong> jumanajouhar@gmail.com jsa.csb2125@saintgits.org maev.csb2125@saintgits.org samthomas.k7@gmail.com
              </p>
            </div>
          </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=".././static/js/vendor/aos/aos.js"></script>
  <script src=".././static/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src=".././static/js/vendor/glightbox/js/glightbox.min.js"></script>
  <script src=".././static/js/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src=".././static/js/vendor/swiper/swiper-bundle.min.js"></script>
  

  <!-- Template Main JS File -->
  <script src=".././static/js/main.js"></script>

</body>

</html>